[matholymp.scans]
# The base URL for the registration system.
base_url = https://www.example.org/registration/2015/

# The username to use for the registration system (with the Scan or
# Admin role).
user = scans

# The file with the password to use for the registration system.
password_file = scans-password

# The file with the HMAC secret key for cover sheet generation.
cover_sheet_key_file = cover-sheet-key

# The number of attempts to make at setting a person property pointing
# to a scan, in cases where this initially fails because of a
# simultaneous conflicting edit.
num_attempts = 10

# The number of pixels on the longest edge to use when rasterising a
# scan page.  1754 means 150 dpi for A4 paper.
resolution = 1754

# The threshold percentage to use when converting a rasterised page to
# black and white.
threshold = 60
